<h1>lista de posts:</h1>
{{#each posts}}
<small>{{dataValues.createdAt}}</small>
<h1>{{dataValues.Nome}}</h1>
<p>{{dataValues.localizacao}}</p>
<p>{{dataValues.MedRespons}}</p>
<a href="/deletar/{{dataValues.id}}"><button>Deletar</button></a>
<hr>
{{/each}}