<h1>lista de posts:</h1>
{{!-- {{#each vacinas}} --}}

<form action="/cad1" method="POST">
<input type="hidden" value="{{vacina.dataValues.id}}" name="id">
    <h3>vacina1 :{{vacina.dataValues.vacina1}}</h3>
    <div class="container">
        <input type="number" id="vac1" name="vacina1" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina1}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad2" method="POST">
    <h3>vacina2 :{{vacina.dataValues.vacina2}}</h3>
    <div class="container">
        <input type="number" id="vac2" name="vacina2" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina2}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad3" method="POST">
    <h3>vacina3 :{{vacina.dataValues.vacina3}}</h3>
    <div class="container">
        <input type="number" id="vac3" name="vacina3" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina3}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad4" method="POST">
    <h3>vacina4 :{{vacina.dataValues.vacina4}}</h3>
    <div class="container">
        <input type="number" id="vac4" name="vacina4" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina4}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad5" method="POST">
    <h3>vacina5 :{{vacina.dataValues.vacina5}}</h3>
    <div class="container">
        <input type="number" id="vac5" name="vacina5" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina5}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad6" method="POST">
    <h3>vacina6 :{{vacina.dataValues.vacina6}}</h3>
    <div class="container">
        <input type="number" id="vac6" name="vacina6" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina6}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad7" method="POST">
    <h3>vacina7 :{{vacina.dataValues.vacina7}}</h3>
    <div class="container">
        <input type="number" id="vac7" name="vacina7" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina7}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad8" method="POST">
    <h3>vacina8 :{{vacina.dataValues.vacina8}}</h3>
    <div class="container">
        <input type="number" id="vac8" name="vacina8" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina8}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad9" method="POST">
    <h3>vacina9 :{{vacina.dataValues.vacina9}}</h3>
    <div class="container">
        <input type="number" id="vac9" name="vacina9" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina9}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad10" method="POST">
    <h3>vacina10 :{{vacina.dataValues.vacina10}}</h3>
    <div class="container">
        <input type="number" id="vac10" name="vacina10" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina10}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad11" method="POST">
    <h3>vacina11 :{{vacina.dataValues.vacina11}}</h3>
    <div class="container">
        <input type="number" id="vac11" name="vacina11" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina11}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad12" method="POST">
    <h3>vacina12 :{{vacina.dataValues.vacina12}}</h3>
    <div class="container">
        <input type="number" id="vac12" name="vacina3" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina12}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad13" method="POST">
    <h3>vacina13 :{{vacina.dataValues.vacina13}}</h3>
    <div class="container">
        <input type="number" id="vac13" name="vacina13" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina13}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad14" method="POST">
    <h3>vacina14 :{{vacina.dataValues.vacina14}}</h3>
    <div class="container">
        <input type="number" id="vac14" name="vacina14" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina14}}"></input>
        <button type="submit">editar</button>
    </div>
</form>
<form action="/cad15" method="POST">
    <h3>vacina15 :{{vacina.dataValues.vacina15}}</h3>
    <div class="container">
        <input type="number" id="vac15" name="vacina15" placeholder="numero de vacinas" class="form-control"
            value="{{vacina.dataValues.vacina15}}"></input>
        <button type="submit">editar</button>
    </div>
</form>

</form>
{{!-- {{/each}} --}}