<table>
    <tr>
        <th scope="col">Vacina</th>
        <th scope="col">Disponibilidade</th>
        <th scope="col">Vacina</th>
        <th scope="col">Disponibilidade</th>
        <th scope="col">Vacina</th>
        <th scope="col">Disponibilidade</th>
    </tr>

    <tr>
        <td>Dengue</td>
        <td>
            <form action="/cad1" method="POST">
                <input type="number" id="vac1" name="vacina1" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina1}}"></input>
                    
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Febre Amarela</td>
        <td>
            <form action="/cad2" method="POST">
                <input type="number" id="vac2" name="vacina2" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina2}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Hepatite A</td>
        <td>
            <form action="/cad3" method="POST">
                <input type="number" id="vac3" name="vacina3" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina3}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Hepatite B</td>
        <td>
            <form action="/cad4" method="POST">
                <input type="number" id="vac4" name="vacina4" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina4}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Hepatite A e B</td>
        <td>
            <form action="/cad5" method="POST">
                <input type="number" id="vac5" name="vacina5" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina5}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Herpes-zóster</td>
        <td>
            <form action="/cad6" method="POST">
                <input type="number" id="vac6" name="vacina6" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina6}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>HPV</td>
        <td>
            <form action="/cad7" method="POST">
                <input type="number" id="vac7" name="vacina7" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina7}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Influenza (gripe)</td>
        <td>
            <form action="/cad8" method="POST">
                <input type="number" id="vac8" name="vacina8" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina8}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Meningocócica <br> ACWY ou C</td>
        <td>
            <form action="/cad9" method="POST">
                <input type="number" id="vac9" name="vacina9" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina9}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Meningocócica B</td>
        <td>
            <form action="/cad10" method="POST">
                <input type="number" id="vac10" name="vacina10" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina10}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Pneumocócica 23-valente (polissacarídica(VPP23)</td>
        <td>
            <form action="/cad11" method="POST">
                <input type="number" id="vac11" name="vacina11" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina11}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Pneumocócica13- valente (conjugada)(VPC13)</td>
        <td>
            <form action="/cad12" method="POST">
                <input type="number" id="vac12" name="vacina12" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina12}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>Tríplice bacteriana tipo adulto (dTpa) <br> ou dupla adulto (dT)</td>
        <td>
            <form action="/cad13" method="POST">
                <input type="number" id="vac13" name="vacina13" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina13}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Tríplice viral (SCR)</td>
        <td>
            <form action="/cad14" method="POST">
                <input type="number" id="vac14" name="vacina14" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina14}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
        <td>Varicela</td>
        <td>
            <form action="/cad15" method="POST">
                <input type="number" id="vac15" name="vacina15" placeholder="Quantidade" class="form-control"
                    value="{{vacina.dataValues.vacina15}}"></input>
                <button type="submit">Salvar</button>
            </form>
        </td>
    </tr>
</table>

