<main>

    <section class="default green">
        <div class="section-title">Postos de Vacinação</div>
        <div class="section-body">
            <div class="section-locations"></div>
        </div>

        {{#each vacinas}}
        <div class="container">
            <div class="dropdown">
                <!-- Basic dropdown -->
                <br id="nome">Posto: {{dataValues.Nome}}
                <br id="medR">Medico responsavel: {{dataValues.MedRespons}}
                <br> Localização:
                <br id="localizacao"> {{dataValues.localizacao}}
                <hr>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent{{dataValues.id}}"
                    aria-controls="navbarSupportedContent{{dataValues.id}}" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <p class="fa fa-plus-square"></p>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent{{dataValues.id}}">
                    <ul class="navbar-nav ml-auto"></ul>


                    <table>
                        <tr>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Vacina</th>
                            <th scope="col">Disponibilidade</th>
                        </tr>

                        <tr>
                            <td>Dengue</td>
                            <td>{{dataValues.vacina1}}</td>
                            <td>Febre Amarela</td>
                            <td>{{dataValues.vacina2}}</td>
                            <td>Hepatite A</td>
                            <td>{{dataValues.vacina3}}</td>
                        </tr>

                        <tr>
                            <td>Hepatite B</td>
                            <td>{{dataValues.vacina4}}</td>
                            <td>Hepatite A e B</td>
                            <td>{{dataValues.vacina5}}</td>
                            <td>Herpes-zóster</td>
                            <td>{{dataValues.vacina6}}</td>
                        </tr>

                        <tr>
                            <td>HPV</td>
                            <td>{{dataValues.vacina7}}</td>
                            <td>Influenza (gripe)</td>
                            <td>{{dataValues.vacina8}}</td>
                            <td>Meningocócica <br> ACWY ou C</td>
                            <td>{{dataValues.vacina9}}</td>
                        </tr>

                        <tr>
                            <td>Meningocócica B</td>
                            <td>{{dataValues.vacina10}}</td>
                            <td>Pneumocócica 23-valente (polissacarídica(VPP23)</td>
                            <td>{{dataValues.vacina11}}</td>
                            <td>Pneumocócica13- valente (conjugada)(VPC13)</td>
                            <td>{{dataValues.vacina12}}</td>
                        </tr>

                        <tr>
                            <td>Tríplice bacteriana tipo adulto (dTpa) <br> ou dupla adulto (dT)</td>
                            <td>{{dataValues.vacina13}}</td>
                            <td>Tríplice viral (SCR)</td>
                            <td>{{dataValues.vacina14}}</td>
                            <td>Varicela</td>
                            <td>{{dataValues.vacina15}}</td>
                        </tr>
                    </table>
                    </a>
                </div>
            </div>
        </div>
        <br>
        {{/each}}